.footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffefa5;
  padding: 15px; /* padding 조정 */
  margin-top: 30px; /* margin-top 조정 */
}

.footer-container {
  max-width: 1000px; /* max-width 조정 */
  margin: 0 auto;
}

.footer-logo {
  font-size: 20px; /* 폰트 크기 조정 */
  margin-bottom: 10px; /* margin-bottom 조정 */
}

.footer-sections {
  display: flex;
  flex-wrap: wrap;
}

.footer-section {
  width: calc(20% - 20px);
  margin-right: 15px; /* margin-right 조정 */
  margin-bottom: 15px; /* margin-bottom 조정 */
}

.footer-section:last-child {
  margin-right: 0;
}

.footer-section h2 {
  font-size: 16px; /* 폰트 크기 조정 */
}

.footer-section p {
  font-size: 12px; /* 폰트 크기 조정 */
}

.footer-info {
  font-size: 12px; /* 폰트 크기 조정 */
  text-align: center;
}

/* Media queries */
@media screen and (max-width: 1200px) {
  .footer-section {
    width: calc(25% - 15px); /* width 및 margin-right 조정 */
  }
}

@media screen and (max-width: 992px) {
  .footer-section {
    width: calc(33.333% - 15px); /* width 및 margin-right 조정 */
  }
}

@media screen and (max-width: 768px) {
  .footer-section {
    width: calc(50% - 15px); /* width 및 margin-right 조정 */
  }

  .footer-logo {
    font-size: 18px; /* 폰트 크기 조정 */
  }

  .footer-section h2 {
    font-size: 14px; /* 폰트 크기 조정 */
  }

  .footer-section p {
    font-size: 10px; /* 폰트 크기 조정 */
  }
}

@media screen and (max-width: 480px) {
  .footer-section {
    width: 100%;
    margin-right: 0;
  }

  .footer-logo {
    font-size: 16px; /* 폰트 크기 조정 */
  }

  .footer-info {
    font-size: 10px; /* 폰트 크기 조정 */
  }
}

.footer-section {
  width: calc(20% - 2%);
  margin-right: 2%; /* 오른쪽 마진을 2%로 지정합니다. */
  margin-bottom: 2%; /* 아래쪽 마진을 2%로 지정합니다. */
}

/* 마지막 섹션의 오른쪽 마진을 0으로 지정합니다. */
.footer-section:last-child {
  margin-right: 0;
}